VITE_FIREBASE_API_KEY=AIzaSyCr_VJZTXgn1GXjdMoBhOhPtk6TAym8_EI
VITE_FIREBASE_AUTH_DOMAIN=appointments-6bef7.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=appointments-6bef7
VITE_FIREBASE_STORAGE_BUCKET=appointments-6bef7.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=118531944483
VITE_FIREBASE_APP_ID=1:118531944483:web:9e770987321ff5f0568196